<!--
{{ if .Get "src" }}
    <img src="{{ .Get "src" | safeURL }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} class="{{ with .Get "position"}}{{ . }}{{ else -}} left {{- end }}" {{ with .Get "style" }} style="{{ . | safeCSS }}" {{ end }} />
{{ end }}

{{ $image := resources.Get (.Get "path") }}

{{ $options := .Get "options"}}
{{ $method := .Get "method" }}

{{ if eq $method "Fill" }}
    {{ .Scratch.Set "modified-image" ($image.Fill $options) }}
{{ else if eq $method "Fit" }}
    {{ .Scratch.Set "modified-image" ($image.Fit $options) }}
{{ else if eq $method "Resize" }}
    {{ .Scratch.Set "modified-image" ($image.Resize $options) }}
{{ end }}
-->
<img src='{{ (.Scratch.Get "modified-image").Permalink }}' alt='{{ .Get "alt" }}'>

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}